## _Coffea arabica_

Criar banco de dados com os transcritos dos genomas de referência

In [11]:
!makeblastdb -in C.arabica/refseq/GCF_003713225.1/rna.fna -out C.arabica/rna_db/db  -dbtype nucl -title "c_arabica_rna"

Building a new DB, current time: 04/01/2022 09:57:12
New DB name:   /home/tiago/documents/lncRNA/C.arabica/rna_db/db
New DB title:  c_arabica_rna
Sequence type: Nucleotide
Keep MBits: T
Maximum file size: 1000000000B
Adding sequences from FASTA; added 80667 sequences in 1.92567 seconds.

In [22]:
from Bio import SeqIO

In [30]:
#Extract uncharacterized rma
with open("C.arabica/c.arabica.uncharacterized.fasta","w+") as fastafile:
    for req in SeqIO.parse("C.arabica/refseq/GCF_003713225.1/rna.fna","fasta"):
        if "uncharacterized" in req.description:
            fastafile.write(f">{req.description}\n")
            fastafile.write(f"{str(req.seq)}\n")

In [35]:
!blastn -db C.arabica/rna_db/db -query C.arabica/PXD002963/generated/PXD002963_58016.fasta -outfmt 7 -out C.arabica_rna_blast.tsv

In [36]:
import pandas as pd
# Import blast results
c_arabica_rna_blast = pd.read_csv(
    "C.arabica_rna_blast.tsv", 
    sep = "\t", 
    skiprows = 6,
    names = ["query_id", "subject_id", "identity", "alignment_length", "mismatches", "gap_opens", "q_start", "q_end", "s_start", "s_end", "evalue", "bit_score"]
    )

In [37]:
c_arabica_rna_blast.dropna(inplace = True)

In [45]:
c_arabica_rna_blast.describe()

,identity,alignment_length,mismatches,gap_opens,q_start,q_end,s_start,s_end,evalue,bit_score
count,6502.000000,6502.000000,6502.000000,6502.000000,6502.000000,6502.000000,6502.000000,6502.000000,6.502000e+03,6502.000000
mean,94.079438,828.636573,42.846355,2.081052,209.319748,1035.195940,422.184405,1245.916949,2.320228e-08,1271.236312
std,6.799981,657.616687,73.055425,4.996573,432.987631,689.502653,642.061416,815.701607,5.076630e-07,1147.738022
min,70.713000,28.000000,0.000000,0.000000,1.000000,29.000000,1.000000,1.000000,0.000000e+00,52.800000
25%,90.532000,334.250000,3.000000,0.000000,1.000000,576.750000,101.000000,693.000000,0.000000e+00,433.000000
50%,97.246500,690.000000,12.000000,0.000000,1.000000,924.000000,210.000000,1121.000000,0.000000e+00,972.000000
75%,99.340000,1136.750000,48.000000,2.000000,194.000000,1380.500000,459.000000,1575.750000,1.230000e-119,1750.250000
max,100.000000,7129.000000,643.000000,78.000000,4044.000000,7126.000000,5719.000000,7449.000000,2.450000e-05,13152.000000

In [47]:
c_arabica_rna_blast

,query_id,subject_id,identity,alignment_length,mismatches,gap_opens,q_start,q_end,s_start,s_end,evalue,bit_score
0,Eukaryotic,XM_027223321.1,99.511,1227.0,6.0,0.0,1.0,1227.0,183.0,1409.0,0.000000e+00,2233.0
1,Eukaryotic,XM_027219635.1,98.313,1245.0,3.0,2.0,1.0,1227.0,193.0,1437.0,0.000000e+00,2167.0
7,Coffea,XM_027260883.1,99.607,1527.0,6.0,0.0,1.0,1527.0,215.0,1741.0,0.000000e+00,2787.0
8,Coffea,XM_027263105.1,98.952,1527.0,16.0,0.0,1.0,1527.0,285.0,1811.0,0.000000e+00,2732.0
14,Coffea,XM_027247701.1,100.000,303.0,0.0,0.0,1.0,303.0,419.0,721.0,7.100000e-159,560.0
...,...,...,...,...,...,...,...,...,...,...,...,...
11904,Lipoxygenase,XM_027244036.1,98.949,761.0,8.0,0.0,2060.0,2820.0,1852.0,2612.0,0.000000e+00,1362.0
11910,Coffea,XM_027207632.1,99.986,7125.0,1.0,0.0,1.0,7125.0,184.0,7308.0,0.000000e+00,13152.0
11911,Coffea,XM_027271654.1,99.677,7128.0,20.0,1.0,1.0,7125.0,199.0,7326.0,0.000000e+00,13032.0
11917,Coffea,XM_027207632.1,91.875,7126.0,558.0,12.0,10.0,7126.0,193.0,7306.0,0.000000e+00,9932.0
11918,Coffea,XM_027271654.1,91.836,7129.0,558.0,10.0,10.0,7126.0,208.0,7324.0,0.000000e+00,9919.0